input[type="checkbox"]+label {
    display: block;
    width: 20px;
    height: 20px;
    background: url('/assets/img/icon/star.png') no-repeat 0 0px / contain;
}

input[type='checkbox']:checked+label {
    background: url('/assets/img/icon/star.png') no-repeat 0 1px / contain;
}

input[type="checkbox"] {
    display: none;
}

/* .cha{
    float : right;
} */

.card-text{
    font-size: 15px;
    text-align: left;
}

