.footer-wrappr-my {
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat
}

.footer-area-my .footer-pera-my p {
    color: #C2C5DB;
    padding-right: 52px;
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 1.8
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-area-my .footer-pera-my p {
        padding-right: 0px
    }
}

.footer-area-my .footer-pera.footer-pera2-my p {
    padding: 0
}

.footer-area-my .footer-tittle-my h4 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 29px;
    font-weight: 500
}

.footer-area-my .footer-tittle-my ul li {
    margin-bottom: 15px
}

.footer-area-my .footer-tittle ul li a {
    color: #C2C5DB;
    font-weight: 300;
    text-decoration: underline transparent
}

.footer-area-my.footer-tittle ul li a:hover {
    color: #F067FF;
    text-decoration: underline
}

.footer-area-my.footer-tittle p {
    color: #C2C5DB
}

.footer-area-my.footer-form {
    margin-top: 40px
}

.footer-area-my.footer-form form {
    position: relative
}

.footer-area-my.footer-form form input {
    width: 100%;
    height: 43px;
    padding: 10px 20px;
    border: 1px solid #695CAE;
    background: no-repeat;
    border-radius: 14px;
    color: #fff;
    text-align: center
}

.footer-area-my.footer-form form input::placeholder {
    color: #CCC6DC
}

.footer-area-my.footer-form form .form-icon button {
    border: 0;
    cursor: pointer;
    padding: 13px 22px;
    line-height: 1;
    width: 100%;
    display: block;
    margin-top: 24px;
    border-radius: 10px
}

.footer-area-my.info.error {
    color: #F067FF
}

.footer-padding-my {
    padding-top: 160px;
    padding-bottom: 00px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-padding-my {
        padding-top: 100px;
        padding-bottom: 0px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-padding-my {
        padding-top: 80px;
        padding-bottom: 0px
    }
}

@media (max-width: 575px) {
    .footer-padding-my {
        padding-top: 80px;
        padding-bottom: 0px
    }
}

.container-my {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container-my {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container-my {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container-my {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container-my {
        max-width: 1200px
    }
}

.row-my {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.d-flex-my {
    display: -ms-flexbox !important;
    display: flex !important
}

.justify-content-between-my {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important
}

.col-md-6,
.col-sm-6,
.col-xl-12,
.col-xl-my {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-lg-4-my {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.mb-50-my {
    margin-bottom: 50px
}

.footer-bottom-area-my.footer-border-my {
    padding: 33px 0px 20px
}

.footer-bottom-area-my.footer-copy-right-my p {
    color: #C2C5DB;
    font-weight: 300;
    font-size: 15px;
    line-height: 2;
    margin-bottom: 12px
}

.footer-bottom-area-my.footer-copy-right-my p i {
    color: #fff
}

.footer-bottom-area-my.footer-copy-right-my p a {
    color: #fff
}

.text-center-my {
    text-align: center !important
}


