.slider-bg {
    /* background-image: url('../img/my_img/bg.png') !important; */
    background: rgb(98, 154, 221) !important;
    background: linear-gradient(114deg, rgba(98, 154, 221, 1) 0%, rgba(141, 27, 190, 1) 63%) !important;
}

.slider-area .hero__img img {
    position: relative;
    width: 600px;
    height: auto;
    right: -63px;
}

.header-sticky.sticky-bar {
    background: #282C34;
}

.main-header .main-menu ul li a {
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding: 39px 2px;
    display: block;
    font-size: 14px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    position: relative
}

.section-tittle h2 {
    font-size: 40px;
    display: block;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 22px;
    color: rgb(0, 0, 0)
}

.section-bg1 {
    background: #ffffff
}

.slider-area .hero__caption {
    overflow: hidden;
    position: relative;
}

.team-area .single-cat .cat-cap h5>a {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 14px;
    display: block;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    text-transform: capitalize;
    color: rgb(0, 0, 0)
}

.team-area .single-cat .cat-cap p {
    color: #2f2f2f;
    font-size: 17px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    margin: 0;
    line-height: 1.5
}

#card_f {
    background-color: black;
}

/* section3 */
.pricing-card-area::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 53%;
    background: #ffffff
}

.pricing-card-area::after {
    position: absolute;
    top: 53%;
    content: "";
    border-top: 120px solid transparent;
    border-left: 2000px solid transparent;
    left: 0px;
    z-index: -11;
    right: 0
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 1.25rem
}

#img_radius {
    border-radius: 1rem;
    ;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.about-area1 .about-img img {
    width: 30%;
}

#f_icon {
    width: 40px;
    height: 40px;
    float: center;
}

/* .col-4{
    margin-right: 5px;

} */

#f_themeName {
    font-size: 40px;
    font-weight: 600;
    text-align: left;
}

#f_creator {
    font-size: small;
}

.padding-30 {
    padding: 30px;
}

.bg-light {
    background-color: #ffffff !important
}

a.bg-light:focus,
a.bg-light:hover,
button.bg-light:focus,
button.bg-light:hover {
    background-color: #d6d4d4 !important
}

.p-3 {
    padding: 5rem !important
}

.my-bg1 {
    background-color: #ffffff;
}

/* .my-bg2{
    background-color: #eee;
} */

.footer-wrappr {
    background-color: #282C34;
}

.footer-padding {
    padding: 20px;
}

/* .bg-purple{
    background-color: rgb(185, 116, 250);
} */

.font-10px {
    font-size: 10px;
}

.font-15px {
    font-size: 15px;
}

.font-20px {
    font-size: 20px;
}

.font-25px {
    font-size: 25px;
}

.font-30px {
    font-size: 30px;
}

.font-40px {
    font-size: 40px;
}

.icon1 {
    width: 80px;
    height: 90px;
}

/* ???????????????????????????? */
.icon2 {
    width: 90px;
    height: 70px;
    text-align: center;
}

.icon3 {
    width: 90px;
    height: 90px;
}

.icon4 {
    width: 90px;
    height: 90px;
}

.icon5 {
    width: 90px;
    height: 90px;
}

.icon6 {
    width: 90px;
    height: 90px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    color: #000000;
    margin-top: 0px;
    font-style: normal;
    font-weight: 600;
    text-transform: normal
}

.details-container {
    width: 100%;
    padding-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
    /* margin-right: auto; */
    /* margin-left: auto */
}


/* detail.html */
/* class이름 이따구로 지어서 당황스러우시져 바꿔야됩니다.. 작명 실패! */

.header-color {
    background-color: #282C34;
}

.main-img {
    width: 40px;
    height: 40px;
}

.rounded {
    border-radius: 1.25rem !important
}

.padding-20 {
    padding: 20px;
}

.detail-main-img {
    /* width: 800px; */
    width: 120%;
    height: 450px;
    border-radius: 10px;
    text-align: center;
    border-radius: 10px;
}

/* 사이 공간 더 좁게 하고싶음 */
.detail-img {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    text-align: center;
}

#theme-name {
    font-size: 40px !important;
    text-align: left;
    font-weight: 700;
    text-decoration-line: none;
    text-decoration-color: black;
    
}

a:link {
    color: rgb(0, 0, 0);
}

a:visited {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(157, 219, 255);
}

a:active {
    color: green
}

#theme-by {
    font-size: 18px !important;
    text-align: left;
    font-weight: lighter;
}

#theme-by-li {
    font-size: 12px !important;
    text-align: left;
    font-weight: lighter;
    margin-left: 10px;
    margin-bottom: 10px;
}



.btn-D1 {
    display: inline-block;
    font-weight: 200;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 5px solid transparent;
    padding: .1rem .3rem;
    padding-left: 5px;
    font-size: 25px;
    line-height: 1;
    border-radius: 1rem;
    margin-right: 15px;
}

.btn::after {
    position: unset !important
}

.btn::before {
    content: "";
    position: absolute !important;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    z-index: 1;
    border-radius: 5px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 0px
}

.btn i {
    padding-right: 11px
}

.btn:hover {
    color: #fff !important;
    text-decoration: none !important
}

.btn:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none
}

.btn-D2 {}

/* .btn-D2 {
    display: inline-block;
    font-weight: 200;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid transparent;
    padding: .375rem .75rem;
    font-size: 25px;
    line-height: 1;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
} */

.border-btn::before,
.main-header .main-menu ul ul.submenu,
form.search-box .input-form .search-form button,
.pricing-card-area .single-card .card-bottom .borders-btn:hover,
.pricing-card-area .single-card:hover .card-bottom .borders-btn,
.footer-area .footer-form form .form-icon button {
    background-color: rgb(165, 126, 255);
    
}

.btn-dropdown1{
    font-size: 18px;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    background-color: white;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-top: 5px;
}

.btn-D1::before {
    background-color: transparent;
}

.border-btn::before,
.main-header .main-menu ul ul.submenu,
.pricing-card-area .single-card .card-bottom .borders-btn:hover,
.pricing-card-area .single-card:hover .card-bottom .borders-btn,
.footer-area .footer-form form .form-icon button {
    color: #282C34;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    border-radius: 1rem;
}

.btn-dropdown2{
    font-size: 18px;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    background-color: white;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
}

.btn-D2::before {
    background-color: transparent;
}

.dropdown-icon img {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.dropdown-icon2 img {
    width: 35px;
    height: 35px;
    margin: 5px;
}

.dropdown-icon3 img {
    width: 35px;
    height: 35px;
    margin: 5px;
}

.dropdown-icon4 img {
    width: 27px;
    height: 35px;
    margin: 9px;
}

.java_icon{
    background-size: 20px;
    background-image: url('../img/my_img/logo/java_logo.png');
}

.python_icon{
    background-size: 20px;
    background-image: url('../img/my_img/logo/python_logo.png');
}

.html_icon{
    background-size: 20px;
    background-image: url('../img/my_img/logo/html_logo.png');
}

.js_icon{
    background-size: 20px;
    background-image: url('../img/my_img/logo/js_logo.png');
}

.blue {
	background-color: blue;
}

.red {
	background-color: red;
}

.orange {
	background-color: orange;
}

.yellow {
	background-color: yellow;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 1rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #000000;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    font-size: 20px;
    margin: 3px;
}

#community-con {
    margin-top: 50px;
    margin-bottom: 50px;
}

.community-h1 h1 {
    padding-bottom: 5px;
}

.community-a a {
    color: #000000;
}

.black-background {
    background-color: #212529;
}

.font-white {
    color: white;
}

.font-white p {
    color: white;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.section-padding40 {
    padding-top: 140px;
    padding-bottom: 100px
}

.download-icon {
    width: 15px;
    height: 15px;
}

.download-icon-li {
    width: 10px;
    height: 10px;
}

.heart {
    width: 20px;
    height: 20px;
}

.heart-li {
    width: 15px;
    height: 15px;
}

.theme-icon {
    width: 60px;
    width: 60px;
}

.btn-group button {
    padding-right: 10px;
    margin-top: 40px;
}

.background {
    background-color: #e1aeff;
}

.pt-5 {
    padding-top: 2.3rem !important
}

.pt-30 {
    padding-top: 30px
}

.pt-50 {
    padding-top: 50px
}

.pt-40 {
    padding-top: 40px
}

.pl-60 {
    padding-left: 60px
}

.pl-50 {
    padding-left: 50px
}

.pl-70 {
    padding-left: 70px
}

.pl-180 {
    padding-left: 180px
}

.pl-10 {
    padding-left: 10px
}

.categories{
    font-size: 15px;
    font-weight: 500;
    /* width: 150px;
    height: 95px;
    background-color: rgb(187, 187, 187);
    border-radius: 5px; */
}

.btn-categories {
    display: inline-block;
    font-weight: 200;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid black;
    font-size: 15px;
    line-height: 1;
    border-radius: 0.3rem;
    /* margin-top: 13px;
    margin-right: 5px;
    margin-left: 10px; */
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

/* .categories-background{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    background-color: #dddddd9d;
} */

.btn-install {
    display: inline-block;
    font-weight: 200;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid black;
    padding: 5px;
    /* padding-left: 5px; */
    font-size: 20px;
    line-height: 1;
    border-radius: 0.5rem;
    margin-right: 15px;
    background-color: green;
}

.btn-install a {
    margin: 18px;
    color: white;
    font-weight: 400;
}

.install-icon {
    width: 18px;
    height: 19px;
    margin: 5px;
    margin-top: 2px;
    margin-left: 7px;
}

.about-theme {
    font-size: 15px;
    /* margin-left: 10px; */
}

.pt-10{
    padding-top: 11rem;
}

.pt-8{
    padding-top: 5.5rem;
}

.pt-6{
    padding-top: 6rem;
}

.pt-7{
    padding-top: 6.8rem;
}

.pb-30 {
    padding-bottom: 30px
}

.pb-100 {
    padding-bottom: 100px
}

.theme-list-title h1 {
    font-size: 45px;
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.login-body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.register-body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.bg{
    background: rgb(98, 154, 221) !important;
    background: linear-gradient(114deg, rgba(98, 154, 221, 1) 0%, rgba(141, 27, 190, 1) 63%) !important;
}

form.search-box .input-form .search-form {
    position: absolute;
    right: 9px;
    top: 8px
}

form.search-box .input-form .search-form button {
    text-align: center;
    color: #fff;
    font-size: 21px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    line-height: 52px;
    border: 0
}

form.search-box .input-form .search-form i {
    position: relative;
    left: 2px;
    top: 3px
}

/* form.search-box .input-form .search-form button{
     color: #282C34;
    background-color: rgb(255, 255, 255);
    border: 0px solid black;
    border-radius: 1rem; 
} */

.mem{
    color: black;
    opacity: 0.5;
}

#back-top {
    background: rgba(98, 154, 221, 1);
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgba(141, 27, 190, 1) 63%;
}

@media (max-width: 575px) {

    #scrollUp,
    #back-top {
        right: 16px
    }
}

#scrollUp a i,
#back-top a i {
    display: block;
    line-height: 50px
}

.container {
    min-width: 992px !important;
    padding-top: 5rem;
}

.container {
    width: 100%;
    padding-right: 1px;
    padding-left: 1px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1200px
    }
}

.container {
    min-width: 992px !important
}

.pr-60 {
    padding-right: 60px
}

.pl-90 {
    padding-left: 90px
}

.preloader {
    background-image: url('../img/logo/logo1-4.png');
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin: 0 auto
}

.themeName-li{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-top: 10px
}

.card-li {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 1.25rem;
    width: 275px;
    height: 340px;
}

.moving-main-img {
    width: 500px;
    height: 700px;
    /* padding-left: 50px; */
    margin: 0px auto;
    overflow: hidden;
    background: url('../img/my_img/main_img.png') 0 center / 500px repeat-y;
    animation: movebg 10s alternate-reverse infinite;
    opacity: 0.9;
}

@keyframes movebg {
    100% {background-position: 0px;}
    0% {background-position: 0px -700px;}
}

.f-right {
    float: right;
    margin-left: 10px;
}