.slider-bg {
    /* background-image: url('../img/my_img/bg.png') !important; */
    background: rgb(98, 154, 221) !important;
    background: linear-gradient(114deg, rgba(98, 154, 221, 1) 0%, rgba(141, 27, 190, 1) 63%) !important;
}

.slider-area .hero__img img {
    position: relative;
    width: 500px;
    height: 1100px;
    right: -63px;
}

.header-sticky.sticky-bar {
    background: #282C34;
}

.main-header .main-menu ul li a {
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding: 39px 2px;
    display: block;
    font-size: 14px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    position: relative
}

.section-tittle h2 {
    font-size: 40px;
    display: block;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 22px;
    color: rgb(0, 0, 0)
}

.section-bg1 {
    background: #ffffff
}

.slider-area .hero__caption {
    overflow: hidden;
    position: relative;
}

.team-area .single-cat .cat-cap h5>a {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 14px;
    display: block;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    text-transform: capitalize;
    color: rgb(0, 0, 0)
}

.team-area .single-cat .cat-cap p {
    color: #2f2f2f;
    font-size: 17px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    margin: 0;
    line-height: 1.5
}

#card_f {
    background-color: black;
}

.btn {
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    padding: 27px 44px !important;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    -moz-user-select: none;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
    border-radius: 30px !important;
    display: inline-block !important
}

/* section3 */
.pricing-card-area::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 53%;
    background: #ffffff
}

.pricing-card-area::after {
    position: absolute;
    top: 53%;
    content: "";
    border-top: 120px solid transparent;
    border-left: 2000px solid transparent;
    left: 0px;
    z-index: -11;
    right: 0
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 1.25rem
}

#img_radius {
    border-radius: 1rem;
    ;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.about-area1 .about-img img {
    width: 30%;
}

#f_icon {
    width: 40px;
    height: 40px;
    float: center;
}

/* .col-4{
    margin-right: 5px;

} */

#f_themeName {
    font-size: 40px;
    font-weight: 600;
    text-align: left;
}

#f_creator {
    font-size: small;
}

.padding-30 {
    padding: 30px;
}

.bg-light {
    background-color: #ffffff !important
}

a.bg-light:focus,
a.bg-light:hover,
button.bg-light:focus,
button.bg-light:hover {
    background-color: #d6d4d4 !important
}

.p-3 {
    padding: 5rem !important
}

.my-bg1 {
    background-color: #ffffff;
}

/* .my-bg2{
    background-color: #eee;
} */

.footer-wrappr {
    background-color: #282C34;
}

.footer-padding {
    padding: 20px;
}

/* .bg-purple{
    background-color: rgb(185, 116, 250);
} */

.font-10px {
    font-size: 10px;
}

.font-15px {
    font-size: 15px;
}

.font-20px {
    font-size: 20px;
}

.font-25px {
    font-size: 25px;
}

.font-30px {
    font-size: 30px;
}

.font-40px {
    font-size: 40px;
}

.icon1 {
    width: 80px;
    height: 90px;
}

/* ???????????????????????????? */
.icon2 {
    width: 90px;
    height: 70px;
    text-align: center;
}

.icon3 {
    width: 90px;
    height: 90px;
}

.icon4 {
    width: 90px;
    height: 90px;
}

.icon5 {
    width: 90px;
    height: 90px;
}

.icon6 {
    width: 90px;
    height: 90px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

/* .detail-install-bnt{
    text-align: right;
    padding-right: 60px;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    color: #000000;
    margin-top: 0px;
    font-style: normal;
    font-weight: 600;
    text-transform: normal
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

/* detail.html */
/* class이름 이따구로 지어서 당황스러우시져 바꿔야됩니다.. 작명 실패! */

.header-color {
    background-color: #282C34;
}

.main-img {
    width: 40px;
    height: 40px;
}

.rounded {
    border-radius: 1.25rem !important
}

.padding-20 {
    padding: 20px;
}

.detail-main-img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    text-align: left;
    border-radius: 10px;
}

/* 사이 공간 더 좁게 하고싶음 */
.detail-img {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    text-align: center;
}

#theme-name {
    font-size: 40px !important;
    text-align: left;
    font-weight: 500;
}

#theme-by {
    font-size: 18px !important;
    text-align: left;
    font-weight: lighter;
}

.btn-D1 {
    display: inline-block;
    font-weight: 200;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 5px solid transparent;
    padding: .375rem .75rem;
    padding-left: 5px;
    font-size: 25px;
    line-height: 1;
    border-radius: 1rem;
    margin-right: 15px;
}


.btn-D2 {
    display: inline-block;
    font-weight: 200;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid transparent;
    padding: .375rem .75rem;
    font-size: 25px;
    line-height: 1;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn-D1,
.border-btn::before,
.main-header .main-menu ul ul.submenu,
form.search-box .input-form .search-form button,
.pricing-card-area .single-card .card-bottom .borders-btn:hover,
.pricing-card-area .single-card:hover .card-bottom .borders-btn,
.footer-area .footer-form form .form-icon button {
    color: #282C34;
    background-color: rgb(165, 126, 255);
    border: 1px solid rgb(165, 126, 255);
}

.btn-D1::before {
    background-color: transparent;
}

.btn-D2,
.border-btn::before,
.main-header .main-menu ul ul.submenu,
form.search-box .input-form .search-form button,
.pricing-card-area .single-card .card-bottom .borders-btn:hover,
.pricing-card-area .single-card:hover .card-bottom .borders-btn,
.footer-area .footer-form form .form-icon button {
    color: #282C34;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    border-radius: 1rem;
}

.btn-D2::before {
    background-color: transparent;
}

.dropdown-icon img {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.dropdown-icon2 img {
    width: 35px;
    height: 35px;
    margin: 5px;
}

.dropdown-icon3 img{
    width: 35px;
    height: 35px;
    margin: 5px;
}

.dropdown-icon4 img{
    width: 27px;
    height: 35px;
    margin: 9px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 1rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    font-size: 20px;
    margin: 3px;
}

#community-con {
    margin-top: 50px;
    margin-bottom: 50px;
}

.community-h1 h1 {
    padding-bottom: 5px;
}

.community-a a {
    color: #000000;
}

.black-background {
    background-color: #212529;
}

.font-white {
    color: white;
}

.font-white p {
    color: white;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.section-padding40 {
    padding-top: 140px;
    padding-bottom: 100px
}

.download-icon{
    width: 15px;
    height: 15px;
}

.empty_heart{
    width: 20px;
    height: 20px;
}

.theme-icon{
    width: 60px;
    width: 60px;
}

