.service-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.service-icon-five {
  width: 165px;
  height: 165px;
  padding: 20px;
  text-align: center;
  border-radius: 100%;
  border: 10px solid rgb(236, 234, 230);
}

.btn-group_color{
  position: absolute;
  top : 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}

.service-box-colors {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

* {
  margin: 0px;
  padding: 0px;
}

#coc {
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pallet {
  width: 295px;
  height: 250px;
}

div.activered {
  border : 5px solid red; /*선택 색상 테두리 변경하면 됨!*/
  border-radius: 100%;
}

.cocircle {
  width: 90px; /*동그라미 크기!(한줄에 11개일때 크기)*/
  height: 90px;
  padding: 40px;
  border-radius: 100%;
  border: 5px solid rgb(236, 234, 230); /*동그라미 테두리 두께!*/
  margin: 10px 10px 10px 10px;
  cursor: pointer;
}

.cdisabled {
  pointer-events: none;
}

.container-color {
	min-width: 992px !important;
}

.container-color {
	width: 100%;
	padding-right: 1px;
	padding-left: 1px;
	padding-top: 100px;
	margin-right: auto;
	margin-left: auto;
}

@media ( min-width :576px) {
	.container-color {
		max-width: 540px
	}
}

@media ( min-width :768px) {
	.container-color {
		max-width: 720px
	}
}

@media ( min-width :992px) {
	.container-color {
		max-width: 960px
	}
}

@media ( min-width :1200px) {
	.container-color {
		max-width: 1200px
	}
}

.container-color {
	min-width: 992px !important
}

.container-color-s {
	min-width: 992px !important;

}

.container-color-s {
	width: 100%;
	padding-right: 1px;
	padding-left: 1px;
	margin-right: auto;
	margin-left: auto
}

@media ( min-width :576px) {
	.container-color-s {
		max-width: 540px
	}
}

@media ( min-width :768px) {
	.container-color-s {
		max-width: 720px
	}
}

@media ( min-width :992px) {
	.container-color-s {
		max-width: 960px
	}
}

@media ( min-width :1200px) {
	.container-color-s {
		max-width: 1200px
	}
}

.container-color-s {
	min-width: 992px !important
}

.none-ul:hover{
	text-decoration: none !important;
}

.pt-3rem{
	padding-top: 3.5rem !important;
}



