<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theme.main.MainMapper">
	<!-- User -->
	<select id="UserLogin" parameterType="com.theme.entity.User" resultType="com.theme.entity.User">
		select * from D_USER where user_id = #{user_id} and user_pw = #{user_pw}
	</select>
	
	<insert id="UserRegister" parameterType="com.theme.entity.User">
		Insert into D_USER (user_id, user_pw, user_nick)
		values (#{user_id}, #{user_pw}, #{user_nick})
	</insert>
	
	<delete id="UserDelete" parameterType="String">
		DELETE FROM D_USER du WHERE USER_ID = #{user_id}
	</delete>
	
	<select id="UserSelect" parameterType="String" resultType="com.theme.entity.User">
		SELECT * FROM D_USER du WHERE USER_ID = #{user_id}
	</select>
	
	<update id="UserNickUpdate" parameterType="com.theme.entity.User">
		UPDATE D_USER SET USER_NICK = #{user_nick} WHERE USER_ID = #{user_id}
	</update>
	
	<update id="UserPwUpdate" parameterType="com.theme.entity.User">
		UPDATE D_USER SET USER_PW = #{user_pw} WHERE USER_ID = #{user_id}
	</update>
	
	<select id="UserPostedselect" parameterType="String" resultType="com.theme.entity.Board">
		SELECT * FROM D_BOARD WHERE USER_ID = #{user_id}
	</select>
	
	<insert id="KakaoRegister" parameterType="com.theme.entity.User">
		Insert into D_USER (user_id, user_pw, user_nick)
		values (#{user_id}, #{user_pw}, #{user_nick})
	</insert>
	
	<select id="userCheck" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM D_USER WHERE USER_ID = #{user_id}
	</select>
	
	<delete id="UserPostDelete" parameterType="String">
		DELETE FROM D_BOARD db WHERE USER_ID = #{user_id}
	</delete>
	
	<delete id="UserCommentDelete" parameterType="String">
		DELETE FROM D_COMMENT dc  WHERE USER_ID = #{user_id}
	</delete>
	
	<delete id="UserFavsThemeDelete" parameterType="String">
		DELETE FROM D_USER_FAVS duf WHERE USER_ID = #{user_id}
	</delete>
	
	<!-- Board -->
	<select id="allBoardList" resultType="com.theme.entity.Board">
		SELECT 
			db2.D_SEQ, db2.D_TITLE, db2.D_CONTENT, db2.D_FILE,
			db2.D_DATE, db2.USER_ID, db2.D_CNT, db2.D_CATEGORY, db2.D_LIKE
		FROM
			(
			SELECT rownum AS rnum, db.*
			FROM
				(
				SELECT *
				FROM D_BOARD
				ORDER BY D_CNT DESC
				) db
			<![CDATA[WHERE rownum <= #{inputpage} + 19) db2]]>
		WHERE db2.rnum >= #{inputpage}
	</select>
	
	<update id="BoardCntUpdate" parameterType="int">
		update D_BOARD set d_cnt = d_cnt+1 where d_seq = #{num}
	</update>
	
	<select id="BoardView" parameterType="int" resultType="com.theme.entity.Board">
		select * from D_BOARD where d_seq = #{num}
	</select>
	
	<select id="LangBoardList" parameterType="com.theme.entity.LangPage" resultType="com.theme.entity.Board">
		SELECT 
			db2.D_SEQ, db2.D_TITLE, db2.D_CONTENT, db2.D_FILE,
			db2.D_DATE, db2.USER_ID, db2.D_CNT, db2.D_CATEGORY, db2.D_LIKE
		FROM
			(
			SELECT rownum AS rnum, db.*
			FROM
				(
				SELECT *
				FROM D_BOARD
				WHERE D_CATEGORY = #{lang}
				ORDER BY D_CNT DESC
				) db
			<![CDATA[WHERE rownum <= #{inputpage} + 19) db2]]>
		WHERE db2.rnum >= #{inputpage}
	</select>
	
	<delete id="BoardDelete" parameterType="int">
		DELETE FROM D_BOARD db WHERE D_SEQ = #{num}
	</delete>
	
	<insert id="BoardInsert" parameterType="com.theme.entity.Board">
		INSERT INTO D_BOARD (d_seq, D_TITLE, D_CONTENT, USER_ID, D_CATEGORY) 
		VALUES (D_BOARD_seq.nextval, #{d_title}, #{d_content}, #{user_id}, #{d_category})
	</insert>
	
	<select id="BoardSelect" parameterType="int" resultType="com.theme.entity.Board">
		select * from D_BOARD where D_SEQ = #{num}
	</select>
	
	<update id="BoardUpdate" parameterType="com.theme.entity.Board">
		UPDATE D_BOARD SET D_TITLE = #{d_title}, D_CONTENT = #{d_content} WHERE D_SEQ = #{d_seq}
	</update>
	
	<update id="BoardLikeUpdate" parameterType="int">
		UPDATE D_BOARD SET D_LIKE = D_LIKE + 1 WHERE D_SEQ = #{board_num}
	</update>
	
	<select id="allBoardCount" resultType="Integer">
		SELECT COUNT(*) FROM D_BOARD
	</select>
	
	<select id="LangBoardCount" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM D_BOARD WHERE D_CATEGORY = #{lang}
	</select>
	
	<!-- Comment -->
	<select id="allCommentList" parameterType="int" resultType="com.theme.entity.Comment_nick">
		SELECT dc.CMT_SEQ , dc.P_SEQ , dc.CMT_CONTENT , dc.CMT_DATE , du.USER_NICK , du.USER_ID 
		FROM D_COMMENT dc JOIN D_USER du ON (dc.USER_ID = du.USER_ID)
		WHERE dc.P_SEQ = #{board_num}
		ORDER BY dc.CMT_DATE DESC
	</select>
	
	<insert id="CommentWrite" parameterType="com.theme.entity.Comment">
		INSERT INTO D_COMMENT (CMT_SEQ, P_SEQ, CMT_CONTENT, USER_ID)
		VALUES (D_COMMENT_SEQ.nextval, #{p_seq}, #{cmt_content}, #{user_id})
	</insert>
	
	<delete id="CommentDelete" parameterType="com.theme.entity.Comment">
		DELETE FROM D_COMMENT dc WHERE CMT_SEQ = #{cmt_seq}
	</delete>

	<!-- Extension -->
	<select id="allExtension" resultType="com.theme.entity.Extension">
		SELECT * FROM D_EXTENSION de WHERE EX_CATEGORY = 'A' ORDER BY EX_SEQ
	</select>
	
	<select id="otherExtension" resultType="com.theme.entity.Extension">
		SELECT * FROM D_EXTENSION de WHERE EX_CATEGORY = 'O' ORDER BY EX_SEQ
	</select>
	
	<!-- Color -->
	<select id="allColor" resultType="com.theme.entity.Color">
		SELECT * FROM D_COLOR dc ORDER BY COLOR_SEQ 
	</select>

	<!-- Admin -->
	<select id="userList" resultType="com.theme.entity.User">
		select * from D_USER where user_type = 'U' order by user_joindate
	</select>

	<delete id="userDelete" parameterType="String">
		delete from D_USER where USER_ID = #{user_id}
	</delete>
	
	<!-- Theme -->
	<select id="allThemeList" resultType="com.theme.entity.Theme">
		SELECT
			dt2.THEME_SEQ, dt2.THEME_NAME, dt2.THEME_LANG, dt2.THEME_FONT, dt2.THEME_LIKES,
			dt2.THEME_COL1,dt2.THEME_COL2,dt2.THEME_COL3 ,dt2.THEME_COL4,dt2.THEME_COL5,
			dt2.THEME_PRODUCER,dt2.THEME_FILEPATH,dt2.THEME_URL,dt2.THEME_ICON,dt2.THEME_INSTALLCNT
		FROM
			(
			SELECT
				rownum AS rnum, dt.*
			FROM
				(SELECT *
				FROM D_THEME
				WHERE THEME_FONT = 'JetBrains Mono'
				AND THEME_LANG = 'Python'
				ORDER BY THEME_INSTALLCNT DESC) dt
			<![CDATA[WHERE rownum <= #{inputpage} + 15) dt2]]>
		WHERE dt2.rnum >= #{inputpage}
	</select>
	
	<select id="Themeselect" resultType="com.theme.entity.Theme">
		SELECT * FROM D_THEME dt WHERE THEME_SEQ = #{seq}
	</select>
	
	<select id="mostThemeSelect" resultType="com.theme.entity.Theme">
		SELECT dt.*
		FROM D_THEME dt , 
		(SELECT rownum, THEME_SEQ, THEME_INSTALLCNT FROM D_THEME 
		WHERE THEME_FONT = 'JetBrains Mono' AND THEME_LANG = 'Python'
		ORDER BY THEME_INSTALLCNT desc) dt2 
		WHERE dt.THEME_SEQ = dt2.THEME_SEQ AND ROWNUM  BETWEEN 1 AND (1+5)
	</select>
	
	<select id="allThemeCount" resultType="Integer">
		SELECT count(*) FROM D_THEME dt WHERE THEME_FONT = 'JetBrains Mono'
	</select>
	
	<select id="searchThemeName" parameterType="String" resultType="com.theme.entity.Theme">
		SELECT 	
			dt2.THEME_SEQ, dt2.THEME_NAME, dt2.THEME_LANG, dt2.THEME_FONT, dt2.THEME_LIKES,
			dt2.THEME_COL1, dt2.THEME_COL2, dt2.THEME_COL3, dt2.THEME_COL4, dt2.THEME_COL5,
			dt2.THEME_PRODUCER, dt2.THEME_FILEPATH, dt2.THEME_URL, dt2.THEME_ICON, dt2.THEME_INSTALLCNT
		FROM (
			SELECT rownum AS rnum, dt.*
			FROM (
				SELECT * 
				FROM D_THEME dt 
				WHERE LOWER(THEME_NAME) LIKE #{keyword} 
				AND THEME_LANG = 'Python' 
				AND THEME_FONT = 'JetBrains Mono'
				ORDER BY THEME_INSTALLCNT DESC) dt
				<![CDATA[WHERE rownum <= 8) dt2]]>
		WHERE dt2.rnum >= 1	
	</select>
	
	<update id="ThemeUpdateLikeplus">
		UPDATE D_THEME SET THEME_LIKES = THEME_LIKES+1 WHERE THEME_SEQ = #{theme_seq}
	</update>
	
	<update id="ThemeUpdateLikeminus">
		UPDATE D_THEME SET THEME_LIKES = THEME_LIKES-1 WHERE THEME_SEQ = #{theme_seq}
	</update>
	
	<!-- UserFavs -->
	<select id="selectUserFavs" parameterType="com.theme.entity.User_Favs" resultType="Integer">
		SELECT count(*) FROM D_USER_FAVS WHERE USER_ID = #{user_id} AND THEME_SEQ = #{theme_seq}
	</select>
	
	<insert id="InsertUserFavs" parameterType="com.theme.entity.User_Favs">
		INSERT INTO D_USER_FAVS (UF_SEQ, THEME_SEQ, USER_ID)
		VALUES (D_USER_FAVS_SEQ.nextval, #{theme_seq}, #{user_id})
	</insert>
	
	<delete id="DeleteUserFavs" parameterType="com.theme.entity.User_Favs">
		DELETE FROM D_USER_FAVS WHERE THEME_SEQ = #{theme_seq} AND USER_ID = #{user_id}
	</delete>
	
	<select id="UserLikeThemeSelect" parameterType="String" resultType="com.theme.entity.Theme">
		SELECT dt.*
		FROM D_THEME dt , (SELECT * FROM D_USER_FAVS duf WHERE USER_ID = #{user_id}) uf
		WHERE dt.THEME_SEQ = uf.THEME_SEQ
	</select>
	
	<!-- Constraints  -->
	<update id="DisableBoard">
		ALTER TABLE D_BOARD DISABLE CONSTRAINT FK_D_BOARD_USER_ID_D_USER_USER
	</update>
	
	<update id="EnableBoard">
		ALTER TABLE D_BOARD ENABLE CONSTRAINT FK_D_BOARD_USER_ID_D_USER_USER
	</update>
	
	<update id="DisableComment">
		ALTER TABLE D_COMMENT DISABLE CONSTRAINT FK_D_COMMENT_USER_ID_D_USER_US
	</update>
	
	<update id="EnableComment">
		ALTER TABLE D_COMMENT ENABLE CONSTRAINT FK_D_COMMENT_USER_ID_D_USER_US
	</update>
	
	<update id="DisableBoardComment">
		ALTER TABLE D_COMMENT DISABLE CONSTRAINT FK_D_COMMENT_P_SEQ_D_BOARD_D_S
	</update>
	
	<update id="EnableBoardComment">
		ALTER TABLE D_COMMENT ENABLE CONSTRAINT FK_D_COMMENT_P_SEQ_D_BOARD_D_S
	</update>
	
	<update id="DisableUserFavs">
		ALTER TABLE D_USER_FAVS DISABLE CONSTRAINT FK_D_USER_FAVS_USER_ID_D_USER_
	</update>
	
	<update id="EnableUserFavs">
		ALTER TABLE D_USER_FAVS ENABLE CONSTRAINT FK_D_USER_FAVS_USER_ID_D_USER_
	</update>
	
</mapper>