.logo {
    position: absolute;
    background-color: rgb(98, 185, 255);
    z-index: 100;
    top: 23px;
    left: 50px;
}

.anc-left {
    padding-top: 4px;
    right: 240px !important;
    font-size: large;
  }

  #page-1 .text, #page-1-clone .text {
      background-image: url('img/bg.png');
      background-size: cover;
  }

